nav {background:#005c73; border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
.navbar-brand{padding-left:20px ;color:#ffffff ; font-size:25px;font-family: 'Orbitron', sans-serif;}

img {height:300px;}
#black {font-family: 'Orbitron', sans-serif:} 
body {font-family: 'Orbitron', sans-serif;}
.carousel-indicators{margin-bottom:2px}
#caro-cap-pad{padding-bottom:0px}
h4 {color:#0097b5}
.imp{color:#ff2631}